{ {% for group in data.BootDirectiveGroups %}{% for member in group.members %}
    "{{member.name}}" : {
        "node-ip": "{{member.machine.defaultInterface.addresses[0].address}}", 
        "node-mgmtip": "{{member.machine.managementInterface.addresses[0].address}}", 
        "node-boot": "{{member.nodeBoot}}", 
        "node-install-interface": "{{member.machine.defaultInterface.device}}", 
        "distro-name": "{{member.distro.name}}", 
        "local-install-ipxe-device": "{{member.localInstallIPXEDevice}}", 
        "distro-install-device": "{{member.distroInstallDevice}}", 
        "distro-uri": "{{member.distro.uri}}", 
        "kickstart-uri": "{{member.kickstart.uri}}", 
        "iscsi-server-ip": "{{member.iSCSIServerHost}}", 
        "iscsi-lun": "{{member.iSCSILun}}", 
        "iscsi-port": "{{member.iSCSIServerPort}}"
    }{% if not loop.last %},{% endif %}{% endfor %}{% endfor %}
}
